@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.menu-btn {
  position: fixed;
  right: 5%;
  top: 3%;
  border: none;
  outline: none;
  color: #3498db;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all linear 0.5s;
  transform: translate(-100%);
  background: white;
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px 15px;
}

.close-btn {
  outline: none;
  border: none;
  color: #ea2027;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
}

.close-btn:hover {
  color: rgb(197, 67, 67);
  transform: scale(1.5);
}
.nav-links li a {
  text-decoration: none;
  color: #3498db;
  cursor: pointer;
  display: block;
  transition: all linear 0.5s;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
}

.nav-links li a:hover {
  background-color: #3498db;
  color: #fff;
  padding-left: 1.5rem;
}
.socials i {
  margin: 1rem 5px;
  cursor: pointer;
  color: #3498db;
  font-size: 18px;
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
